/** FOOTER CONTENT */

#footer-wrapper-bgbtm {
	padding-bottom: 30px;
}

/** IMAGE BORDER STYLE 1 */

.image-style1a span {
	background: url(images/pics02.gif) no-repeat left top;
}

/** IMAGE BORDER STYLE 2 */

.image-style2a span {
	background: url(images/pics05.gif) no-repeat left top;

}

.box3-bgbtm {
	padding-bottom: 60px;
}

/** BOX 3 */

#box3 {
}

/** BOX 4 */

#box4 {
}
